.contactme_wrap {
  text-align: center;
}

.single_contact {
  margin: 15px 0;
}

.single_contact .icon {
  height: 80px;
  width: 80px;
  background-color: #1d2730;
  border-radius: 50%;
  position: relative;
  margin: auto;
}
#address {
  color: #f2f5f7;
  margin: 15px 0;
}

.icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffbd39;
  font-size: 1.8em;
}

.form_wrap {
  margin-top: 15px;
  background-color: #1d2730;
  border-radius: 10px;
  overflow: hidden;
}

.form_inner_wrap {
  padding: 15px;
}

.form-control {
  background-color: #f2f5f7;
}

.form_image {
  height: 100%;
  position: relative;
}

.form_image img {
  width: 100%;
}

.social_connect {
  text-align: center;
  padding: 30px 0;
}

.social_connect ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social_connect ul li {
  display: inline-block;
  padding: 0 15px;
}


.social_connect ul li i {
  font-size: 1.8em;
  color: #f2f5f7;
  cursor: pointer;
  transition: 0.5s;
}

.social_connect ul li:hover i{
    color: #ffbd39;
}

.SectionLayout{
    padding: 50px 0 0 0;
}

@media (max-width: 578px) {
  .form_wrap button {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .form_image img {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
